<div class="card">
    <h1> <a href="{{ path('app_home') }}">{{ domaine.name }}</a></h1>
    <h2>Stations : 2 </h2>
    <ul>
        <li>Pistes : 6</li>
        <li>Télésièges : 4</li>
    </ul>
</div>