{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}



    {% if app.user %}
        <h1>Vous êtes connéctes en tant que {{ user.name }}</h1>
        <div class="mb-3">
            <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}



    <style>
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: "Poppins Medium";
        }

        h1{
            text-align: center;
        }

    </style>

{% endblock %}
