<header>
    <img src="" alt="">
    <nav>
        <ul>
            <li><a href="">Accueil</a></li>
            <li><a href="">Stations</a></li>
            <li><a href="{{ path('app_login')}}">Connection</a></li>
            <li><a href="{{ path('app_register')}}">Inscription</a></li>
            <li><a href="{{ path('app_station_index')}}">Profil</a></li>
        </ul>
    </nav>
</header>