@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Nova+Mono&family=Oswald&family=Poppins:wght@100&display=swap');

*{
    padding: 0 0;
    margin: 0 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-top: 20vh;
}

.logo_dom{
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
}

.title_dom{
    font-family: 'Nova Mono', sans-serif;
    font-size: 3rem;
}

.container{
    margin-top: 5vh;
    display: flex;
    gap: 50px;
}

.add_dom{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6em;
}

.add_dom a{
    background-color: rgb(161, 161, 161);
    border-radius: 100px;
    height: 150px;
    width: 150px;
    color: black;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.5s;
}

.add_dom a:hover{
    transition: transform 0.5s;
    transform: scale(1.1);
}

.card{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    padding: 20px 30px;
    background-color: #c4c4c4;
    border-radius: 32px;
    height: 25vh;
    width: 13vw;
}

.card h1{
    text-transform: uppercase;
    font-size: 1.7rem;
    width: 100%;
}

.card h2{
    text-transform: uppercase;
    font-size: 1.1rem;
    width: 100%;
}