{% extends 'base.html.twig' %}

{% block title %}New Station{% endblock %}

{% block body %}
    <h1>Create new Station</h1>

    {{ include('profil/_form.html.twig') }}

    <a href="{{ path('app_profil_index') }}">back to list</a>
{% endblock %}
